<div class="position-relative">
    <div class="card position-absolute " style="width: 19rem;" style="margin-left: 30%;margin-top:1%">
      <div class="container" style="max-width: 350px;">
        <form class="row g-3" [formGroup]="userRegisterForm" (ngSubmit)="register()">
            <h4>Register</h4>
            <hr>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div  formGroupName="address">
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address1">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" formControlName="address2">
            </div>
            <div class="col-md-12">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity" formControlName="city">
            </div>
            <div class="col-md-12">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select" formControlName="state">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip" formControlName="zip">
            </div>
            </div>
            <div class="col-12 mb-3">
              <button type="submit" class="btn btn-primary col-12">Register</button>
            </div>
          </form>
      </div>
    </div>
</div>
