<div class="container-fluid">
    <div class="row">
        <div style="width: 20%;" class="">
            <app-sidebar></app-sidebar>
        </div>
        <div style="width: 60%;" class="bg-body-tertiary">
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">
                    <h6>Pre Requisites</h6>
                    <div class="container">
                        <p class="text-sm fs-10 fw-normal">
                            To install angular on your local system , you need the following
                            Node.js and NPM(Node Package Manager)
                
                            NPM : Angular, the angular CLI and angular applications depend on npm packages for many features and
                            functions. To download and install npm packages and npm is installed by default with node.js installation.
                
                            version check
                            =============
                            Node.js - node -v
                            NPM: npm -v
                        </p>
                    </div>
                </li>
                
            </ul>
        </div>
        <div style="width: 20%;" class="text-body-secondary">col-3</div>
    </div>
</div>
