<div class="container-fluid">
    <div class="row">
        <div style="width: 20%;" class="">
            <app-sidebar></app-sidebar>
        </div>
        <div style="width: 60%;" class="bg-body-tertiary">
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">
                    <router-outlet></router-outlet>
                </li>
                
            </ul>
        </div>
        <div style="width: 20%;" class="text-body-secondary">col-3</div>
    </div>
</div>
