<div class="container">
    <div class="card m-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image}}" class="img-fluid rounded-start" alt="..." >
                <div class="container m-3">
                    <button type="button" class="btn btn-warning btn-lg" (click)="buyNow()"> Buy Now</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{product.pName}}</h5>
                    <p class="card-text"> <span class="bg-success-subtle">3.6<i class="bi bi-star"></i></span> (2,545)</p>
                <h5 class="card-text"><span>{{product.pPrice | currency:'INR':'symbol':'1.0-0'}}</span><span
                        class="text-decoration-line-through m-1 fw-light">{{product.pPrice | currency:'INR': 'symbol':'1.0-0'}}</span><span
                        class="m-1 text-success">10% off</span></h5>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <p class="card-text"><small class="text-body-secondary">Get it by 20-40% off</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
@if(isBuyNow){
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="width:547px">
         
            <form class="row g-3">
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </form>
        </div>
      </div>
    </div>
</div>
}
