<h4>Angular component lifecycle hooks </h4>
<div clss="container">
    <ol>
        <li>
            By default we have ngonit 
           
        </li>
        <li>
            Whichever lifecycle hooks we want to use
            <ol>
                <li>import it in the class </li>
                <li>Extend the implements interface   </li>
                <li>Implement the method</li>
                <li> - reset-password </li>
            </ol>
        </li>
        <li>We can have any number of lifecycle hooks implemented</li>
        <li>Its too early for us to implement all of them today
            <ol>
                <li>- We will revisit this topic again component communication </li>
                <li>- Component Communication   </li>
                <li> Parent to Child  </li>
                <li> Child to Parent  </li>
            </ol>
        </li>
        <li>I am here to teach to end to end- to help you master Angular</li>
    </ol>
</div>
