<h4 class="text-primary">Data Binding</h4>
<div class="container">
    <p>
        Data binding is the core concept of Angular and used to define the communication 
        between a component and the DOM. It is a technique to link your data to your view layer.
         In simple words, you can say that data binding is a communication between your typescript
        code of your component and your template which user sees.
    </p>
        <span>Types of Data Binding in Angular</span>
        <ul>
            <li>Interpolation or String Interpolation</li>
            <li>Property binding</li>
            <li>Event binding</li>
        </ul>
       <p> Data binding can be either one-way data binding or two-way data binding.</p>
    <h6>One-way databinding</h6>
    <ul>
        <li>In one-way binding, the data flow is one-directional.</li>
        <li>This means that the flow of code is from typescript file to Html file.</li>
        <li>In order to achieve a one-way binding, we used the property binding concept in Angular.</li>
        <li>In property binding, we encapsulate the variable in Html with square brackets( [ ] ).</li>
        <li>We will understand this concept through an example in order to make it more comprehensible.</li>
        <li></li>

    </ul>
</div>
