<div>
  <div class="container">
    <a class="navbar-brand"  [routerLink]="['/parent']">
      Parent
    </a>
    <a class="navbar-brand" [routerLink]="['/child']">
      child
    </a>
  </div>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" >
        <button [routerLink]="['/child']">child</button>
      </a>
      <a class="navbar-brand" >
        <button [routerLink]="['/parent']">Parent</button>
      </a>
    </div>
  </nav>
</div>

<div class="container">
  <h4>Add/Edit of Product</h4>
  <div class="container mb-10">
    <div class="add-input">
      <label for="pName" class="form-label">Product Name : {{addItem.pName}}</label>
      <input for="pName" class="form-control" id="pName" [(ngModel)]="addItem.pName">
    </div>
    <div class="add-input">
      <label for="pPrice" class="form-label">Product Price : {{addItem.pPrice}}</label>
      <input for="pPrice" class="form-control" id="pPrice" [(ngModel)]="addItem.pPrice">
    </div>
    <div class="add-input">
      <label for="pDescription" class="form-label">Product Description : {{addItem.pDescription}}</label>
      <input for="pDescription" class="form-control" id="pDescription" [(ngModel)]="addItem.pDescription">
    </div>
  </div>

  <div class="product-buttons mb-10" style="background-color: #f8f9fa;">
    <button type="button" class="btn btn-outline-primary" (click)="getProductList()">Product List</button>
    <button type="button" class="btn btn-outline-secondary" (click)="addProductList()">Add Product</button>
    <button type="button" class="btn btn-outline-warning" (click)="updateProductList()">Update Product</button>
  </div>

  <h4>List of Products</h4>
  <div class="container">
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        @if( productList ){
        @for(product of productList; track product){
        <tr>
          <td> {{product.pName}} </td>
          <td>{{product.pPrice}}</td>
          <td>{{product.pDescription}}</td>
          <td ><button class="btn" (click)="editItem(product, product.id)">Edit</button></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="deleteProductList(product.id)">Delete</button></td>
        </tr>
        }
        }
        @else {
        <tr>
          <td colspan="5">No Records available</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
<app-parent></app-parent>

</div>

<!-- <router-outlet></router-outlet> -->