<button type="button" class="btn btn-primary" (click)="getproductList()"> Products List</button> 
<button type="submit" class="btn btn-primary" (click)="addProduct()">add Product</button> 
<button type="submit" class="btn btn-primary" (click)="putProductList()">update Product</button> 
<button type="submit" class="btn btn-primary" (click)="deleteProductList()">delete Product</button> 
<table class="table table-border table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile Number</th>
    </tr>
  </thead>
  <tbody>
    @for(product of productsList; track product){
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.mobile}}</td>
    </tr>
  }
  </tbody>
</table>