<nav class="navbar">
  <div class="nav-header">
    <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/contact', 2, 'abc']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a></li>
  </ul>
  </div>
</nav>

<div class="container">
  <button class="btn btn-outline-primary" (click)="login()">Login</button>
  <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>