<p>child works!</p>

{{studentArr}}

<!-- <div class="container">
    <table class="table table-bordered table-sm table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Description</th>
        </tr>
      </thead>
      <tbody>
        @if( studentArr ){
        @for(product of studentArr; track product){
        <tr>
          <td> {{product.name}} </td>
          <td>{{product.id}}</td>
          <td>{{product.designation}}</td>
        </tr>
        }
        }
        @else {
        <tr>
          <td colspan="3">No Records available</td>
        </tr>
        }
      </tbody>
    </table>
  </div> -->