<div class="container">
  <div class="row">
    @for(item of products; track products){
          <div class="card col-3 m-1" style="max-width: fit-content;">
            <img src="{{item.image}}" class="card-img-top" alt="..." style="width: 126px;padding: 3px;">
            <div class="card-body">
              <h5 class="card-title" (click)="filterProduct(item)">{{item.pName}}</h5>
              <p class="card-text"><span class="bg-success-subtle">3.6<i class="bi bi-star"></i></span> (2,545)</p>
              <h5 class="card-text"><span>{{item.pPrice | currency:'INR':'symbol':'1.0-0'}}</span><span class="text-decoration-line-through m-1 fw-light">{{item.pPrice | currency:'INR':'symbol':'1.0-0'}}</span><span class="m-1 text-success">10% off</span></h5>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  <p class="card-text"><small class="text-body-secondary">Get it by 20-40% off</small></p>
            </div>
          </div>
    }
  </div>

</div>